Package: me.kingbri.cleanytbar
Name: CleanYTBar
Version: 1.0
Architecture: iphoneos-arm
Description: Removes the shorts and create button from the YouTube app.
Maintainer: kingbri
Author: kingbri
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
